* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #3c3c3c;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.slider {
  display: flex;
  flex-direction: column;
  background-color: #25272a;
  width: 80%;
  height: 80vh;
  border-radius: 20px;
  margin-top: 5vh;
}

.wrapper {
  margin: 2%;
  margin-bottom: 10vh;
  border-radius: 20px;
  overflow: hidden;
}

.slides {
  width: 400%;
  height: 100%;
  display: flex;
}

.slide {
  width: 25%;
  height: 100%;
  transition: all 0.5s ease;
}

.slide > img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

input[name="slide-radio"] {
  display: none;
}

.nav-button {
  position: absolute;
  left:71%;
  top:78vh;
  width: 3vh;
  height: 3vh;
  background-color: #76abfe;
  border: none;
  margin: 0 10px;
  border-radius: 10px;
  cursor: pointer;
  caret-color: transparent;
}

label:nth-child(4){
  left: 75%
}

label:nth-child(6){
  left: 79%
}

label:nth-child(8){
  left: 83%
}

:checked + label{
  border: #76abfe solid 3.5px;
  background-color: transparent;
}

:checked + label:hover{
  border-color: white;
  background-color: transparent;
}

.nav-button:hover {
  background-color: white;
}

#radio1:checked ~ .s1 {
  margin-left: 0;
}
#radio2:checked ~ .s1 {
  margin-left: -25%;
}
#radio3:checked ~ .s1 {
  margin-left: -50%;
}
#radio4:checked ~ .s1 {
  margin-left: -75%;
}
